@charset "ISO-8859-1";
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;  
  width: 800px;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tbody tr:nth-child(even){background-color: #ebc6f5;}
table tbody tr:nth-child(odd){background-color: #f6defc;}

table tbody tr:hover {background-color: white;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #2b0436;
  color: white;
  text-align: center;
}

.poista{
	color: #021c2e;
	text-decoration: underline;
	cursor: pointer;	
}

.oikealle{
	text-align: right;	
	
}

#uusiAsiakas, #takaisin{
	color: white;	
	cursor: pointer;	
}

.tiedot {
	text-align: right;
}

.hakulaatikko {
	width: 500px;
	height: 30px;
}

.lisayslaatikot {
	text-align: center;
}